*.pyc
*.pyo
*.pyd
__pycache__/
*.so

venv/
env/
.venv/
.env/

*.coveragerc
.coverage
*.hypothesis/
.pytest_cache/

.ipynb_checkpoints

Pipfile.lock

.tox/
.nox/
*.nox
*.coverage
*.hypothesis/

docs/_build/

.idea/

.vscode/

.DS_Store

Thumbs.db

node_modules/

dist
/build
/.npm/

*.log

package-lock.json
yarn.lock

.vscode/

.DS_Store

Thumbs.db

__pycache__/
*.pyc
