:root {
  --bg-primary: #0f0f0f;
  --bg-secondary: #1a1a1a;
  --bg-secondary-lighter: #262626;
  --bg-chat-bubble: #252525;
  --accent-blue: #4e7fff;
  --accent-pink: #e24a90;
  --text-primary: rgba(255, 255, 255, 0.92);
  --text-primary-dark: rgba(0, 0, 0, 0.92);
  --text-secondary: rgba(255, 255, 255, 0.6);
  --color-boy: #4cd3ea;
  --color-girl: #ff669e;
  --border-color: #252525;
  --border-color-success: #85ce61;
  --hover-bg: #252525;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --shadow-right: 8px 0 6px -4px var(--shadow-color);
  --shadow-top: 0 -4px 6px -2px var(--shadow-color);
  --shadow-xl: 0 20px 25px -5px var(--shadow-color), 0 10px 10px -5px var(--shadow-color);
}

.shadow-right {
  box-shadow: var(--shadow-right);
}

.shadow-top {
  box-shadow: var(--shadow-top);
}

.shadow-2xl {
  box-shadow: var(--shadow-xl);
}

::-webkit-scrollbar {
  overflow: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
