<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>陌陌消息</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="{{ url_for('static', path='chat.js') }}"></script>
  <style>
    button,
    input {
      outline: none;
    }

    ::-webkit-scrollbar {
      display: none;
    }

    .highlight {
      background-color: #444;
    }
  </style>
</head>
<body>
  <div class="h-screen w-screen bg-[#181818] text-[#E4E4E7] p-6 flex">
    <div class="h-full flex flex-col flex-none w-[250px] bg-[#242424] rounded-l-xl p-4 shadow-lg">
      <div class="text-lg flex-none font-semibold mb-6 text-[#E4E4E7]">群成员</div>
      <div id="users" class="space-y-4 overflow-y-scroll flex-grow h-[calc(100%)px]"></div>
    </div>

    <div class="flex flex-col min-h-full bg-[#1E1E1E] flex-[1] rounded-r-xl p-6 shadow-xl">
      <div id="chat" class="flex-[1] flex flex-col space-y-6 overflow-y-auto pb-4"></div>
      <div class="h-[70px] flex items-center border-t border-[#444] pt-4">
        <input id="message" class="flex-1 p-4 rounded-lg bg-[#333333] text-[#E4E4E7] placeholder-[#888] focus:outline-none focus:ring-2 focus:ring-[#3B82F6] transition duration-300" type="text" placeholder="输入消息..." />
        <button onclick="sendMessage" id="sender" class="ml-4 bg-[#3B82F6] text-white p-4 rounded-lg hover:bg-[#2563EB] transition duration-300">发送</button>
      </div>
    </div>
  </div>
</body>
</html>
